body
	background-color #eee

.main-nav
	&__wrap
		lost-center 980px 15px
	&__list
		list-style-type none
		margin 0
		padding: 15px 0
	&__item
		display inline-block
		& + .main-nav__item
			padding-left 10px
